<title>Climate Pal - Help</title>
<FRAMESET rows="*" COLS="20%,*">
   <FRAME SRC="help/Content.html" NAME=SIDEBAR>
   <FRAME SRC="help/Tebesi.html" NAME=MAIN>
 </FRAMESET>
<NOFRAMES>NOFRAMES stuff
</NOFRAMES>

