ul#vehicleList li{color:#333}
transition:border-color:1s; -webkit-transition:border-color 1s}
.label-title{color:#999}
.vehicle-detail-info{float:left}
.breaker{clear:both; height:15px; width:100}
#login_status{height:30px; color:red;}
#dist_status{height:30px; color:red;}
#location{height:30px; color:blue;}
#coordinates{height:30px; color:blue;}
#location2{height:30px; color:blue;}
#coordinates2{height:30px; color:blue;}
#logged_in_user{height:30px; color:blue;}
#logged_in_user2{height:30px; color:blue;}

#Baseline_Completed{height:30px; color:blue;}
#Baseline_Uploaded{height:30px; color:blue;}
#Baseline_Not_Uploaded{height:30px; color:blue;}
#Monitoring_Completed{height:30px; color:blue;}
#Monitoring_Uploaded{height:30px; color:blue;}
#Monitoring_Not_Uploaded{height:30px; color:blue;}

#Dist_Completed{height:30px; color:blue;}
#Dist_Uploaded{height:30px; color:blue;}
#Dist_Not_Uploaded{height:30px; color:blue;}